<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Examples</title>
  </head>

  <body>
    <div id="app">
      {{message}}
    </div>
    <div class="tpls" style="display: none;">
      <div class="popx-html">
        hello china<br>
        {{a}}
        <span @click='clickAction'>click</span>
      </div>
    </div>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
    <script src="./vue-popx.js"></script>
    <script>
      Vue.use(this['vue-popx'])

      var Child = {
        template: '<div>A custom component!</div>',
        created: function () {
          console.log('create')
          console.log(this)
          console.log(this.$Popx)
        }
      }

      console.log(Child)

      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!'
        },
        mounted: function () {
          let ts = this
          let tt = this.$Popx({
            popper: {
              template: document.querySelector('.popx-html').outerHTML,
              data: function () {
                return  {
                  a: 'abcd'
                }
              }, 
              methods: {
                clickAction: function () {
                  ts.message = 'this is message'
                }
              },
              created: function () {
                
              }
            }
          });
          // this.$Popx.close(tt.uid)
        }
      })
    </script>
  </body>
</html>